<!DOCTYPE html>
<html lang="en">

<head>
  <title>BuJo Dojo</title>
  <meta charset="UTF-8">

  <meta name="referrer" content="origin">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../assets/css/normalize.css">
  <!-- Bootstrap-select CDN 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->
  <link rel="stylesheet" href="../assets/css/skeleton.css">
  <link rel="stylesheet" href="../assets/css/style.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  {{!--<script src="/node_modules/jquery/dist/jquery.min.js"></script>--}}
  <!-- Bootstrap-select
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script> -->

  <!-- Font Awesome Link! -->
  <script src="https://use.fontawesome.com/0a2ce55563.js"></script>

  <!-- Favicon -->
  <link rel="icon" href="./assets/images/favicon.ico" type="image/gif" sizes="16x16">

  {{!-- Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Megrim|Raleway:400,600" rel="stylesheet">

</head>


<body>
  <a href="/"><h1>BuJo Dojo</h1></a>

  {{{ body }}}

  <!-- Begin Footer -->
	<footer id="footer">

		<p>Created by <a href="https://github.com/Project-Awesomesauce/BuJo-Dojo#bujo-dojo" target="_blank">Project Awesomesauce!</a> &copy; 2017 &mdash; Want to <a href="/contact">contact us</a>?</p>
    <p><a href="http://bulletjournal.com/get-started/" target="_blank">Wait, what the heck is a bullet journal?</a></p>

  <!-- End Footer -->
	</footer>

  <script src="../assets/js/category.js"></script>
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/edit.js"></script>
</body>

</html>