<!DOCTYPE html>
<html lang="en">

<head>
  <title>BuJo Dojo</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="assets/js/index.js"></script>

</head>


<body>
  {{{ body }}}
</body>

</html>