<div class="container">
  <div class="row">
    <div class="one-half column" style="margin-top: 25%">
      <h4>BuJo Dojo</h4>
      <p>This app is going to be awesome, I promise...</p>
    </div>
  </div>
  {{!--task view--}}
  <div class="row">
    <div class="one-half column">
      <ul>
        <li>
          <input type="text" value="{{tasks.item}}" id="item-text" name="item">
          <button data-id="{{tasks.id}}" class="update-item" type="submit">Update</button>
        </li>
      </ul>
    </div>
  </div>
</div>