<div class="container" id="wrap">

  {{!--task creation--}}
  <div class="row">
    <div class="twelve columns top-page-margin">

	  <h5>Welcome! What would you like to do?</h5>

	  <p>Show me my:</p>

      <ul id="home-list">
        <li><a href="/view-today">Day View</a></li>
        <li><a href="/view-week">Weekly View</a></li>
	    <li><a href="/view-month">Monthly View</a></li>
	    <li><a href="/future-log">Future Log</a></li>
      </ul>
    </div>
  </div>

</div>