<div class="container" id="wrap">
  <div class="row">
    <div class="twelve columns quarterTopMargin">
      <a href="/"><h4>BuJo Dojo</h4></a>
      <h5>Your comments have been sent. Thank you!</h5>
      <p>(You will be redirected to your day view in a few seconds)</p>
    </div>
  </div>

</div>

<script type="text/javascript">
  setTimeout("window.location='/'", 3000);
</script>