<div class="container" id="wrap">
  <div class="row">
    <div class="twelve columns quarterTopMargin">
      <a href="/"><h4>BuJo Dojo</h4></a>
      <h5>Your comments have been sent. Thank you!</h5>
    </div>
  </div>

</div>