body {
    font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Megrim', cursive;
    text-align: center;
    margin-top: 10px;
    font-size: 82px;
}

#comingSoon {
    text-align: center;
}

#navbar .nav {
    margin: 2px;
}

.top-page-margin {
    margin-top: 15%;
}

.fa-li {
    top: .7em !important;
}

#home-list .fa-li {
    top: .33em !important;
}

.weekly-view .fa-li {
    top: .33em !important;
}

#redirect-message {
    text-align: center;
}

.fa-hand-peace-o {
    color: turquoise;
}

a, a:active, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: turquoise;
}

#new-item {
    padding-top: 0px !important;
}

#nav-home, #nav-today, #nav-week, #nav-contact {
    padding: 5px 15px;
}

.active {
    border: 2px solid turquoise;
}

.dropdown-text {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0px !important;
    position: relative;
    top: -1px;
}

#edit-text, #item-text {
    font-size: 12px;
    min-width: 200px;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.u-full-width {
    font-size: 12px;
    min-width: 200px;
}

#add-item {
    width: 90px;
    padding: 0px 10px;
    position: relative;
    top: 0px;
    height: 38px;
    border: 1px solid #D1D1D1;
}

#datepicker {
    font-size: 12px;
    position: relative;
    top: 0px;
    height: 38px;
    border: 1px solid #D1D1D1;
    width: 20%;
    min-width: 100px;
    margin-right: 10px;
}

#date {
    text-align: center;
}

.destroy-item {
    margin-left: 5px;
    width: 30px;
    padding: 0px 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    top: 0px;
}

.edit-item {
    margin-left: 25px;
    width: 50px;
    padding: 0px 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    top: 0px;
}

.update-item {
    margin-left: 10px;
    width: 90px;
    padding: 0px 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    top: 0px;
}

.completed-item {
    opacity: 0.5;
}

.weekly-view {
    border: solid 1px #D1D1D1;
    padding: 10px;
    margin: 15px;
}

.date {
    font-weight: 600;
    text-decoration: underline;
}

ul {
    margin-bottom: 0px !important;
}

li {
    margin-bottom: .5em !important;
}

button:hover, .button-primary:hover {
    background-color: turquoise !important;
    border-color: mediumturquoise !important;
    color: white !important;
}

button, .button-primary {
    background-color: white !important;
    color: black !important;
    border: 1px solid #D1D1D1 !important;
}

.contact-header {
    text-align: center;
}

.center-me {
    text-align: center;
}

/* Datepicker calendar styling */

td, th {
    padding: 5px 5px;
}

.ui-datepicker {
    width: auto;
    height: auto;
    padding: 0px 25px;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    background-color: white;
    border: 1px solid #D1D1D1;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-title {
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.ui-datepicker-prev, .ui-datepicker-next {
    margin-top: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
}

.ui-datepicker-calendar .ui-state-active {
    background: turquoise;
    border: 1px solid #666666;
    font-weight: 600;
    position: relative;
    margin: -1px;
}

.ui-datepicker-prev {
    float: left;
}
.ui-datepicker-next {
    float: right;
}

.ui-datepicker-today a.ui-state-highlight {
    border: 1px solid #D1D1D1;
    position: relative;
    margin: -1px;
}

.ui-datepicker {
    display: none
}


/* Leave footer CSS at the bottom */
/*----------------------------------------------*/
/* Sticky footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 95%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -50px;
	/* Pad bottom by footer height */
	padding: 0px 0px 50px 0px;
}

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
	/* Set the fixed height of the footer here */
	height: 50px;
	overflow: auto;
	margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}

#footer p {
    margin-bottom: 0;
}