a, a:active, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: turquoise;
}

#item-text {
    min-width: 200px;
    width: 80%;
}

#edit-text {
    min-width: 200px;
    width: 80%;
}

#add-item {
    margin-left: 10px;
    min-width: 100px;
    width: 15%;
    padding: 0px 10px;
}

.destroy-item {
    margin-left: 25px;
    width: 30px;
    padding: 0px 10px;
}

.edit-item {
    margin-left: 5px;
    width: 50px;
    padding: 0px 10px;
}

.update-item {
    margin-left: 5px;
    width: 90px;
    padding: 0px 10px;
}

.dropdown-text {
    font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
}