body {
    font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-page-margin {
    margin-top: 15%;
}

.fa-li {
    top: .7em !important;
}

#redirect-message {
    text-align: center;
    /*color: turquoise;*/
}

a, a:active, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: turquoise;
}

.dropdown-text {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0px !important;
    position: relative;
    top: -1px;
}

#edit-text, #item-text {
    font-size: 12px;
    min-width: 200px;
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
}

#add-item {
    width: 90px;
    padding: 0px 10px;
    position: relative;
    top: 0px;
    height: 38px;
    border: 1px solid #D1D1D1;
}

.destroy-item {
    margin-left: 5px;
    width: 30px;
    padding: 0px 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    top: 0px;
}

.edit-item {
    margin-left: 25px;
    width: 50px;
    padding: 0px 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    top: 0px;
}

.update-item {
    margin-left: 10px;
    width: 90px;
    padding: 0px 10px;
    border: 1px solid #D1D1D1;
    position: relative;
    top: 0px;
}

.completed-item {
    opacity: 0.5;
}

ul {
    margin-bottom: 0px !important;
}

li {
    margin-bottom: .5em !important;
}

button:hover, .button-primary:hover {
    background-color: turquoise !important;
    border-color: mediumturquoise !important;
    color: white !important;
}

button, .button-primary {
    background-color: white !important;
    color: black !important;
    border-color: black;
}

/* Sticky footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -60px;
	/* Pad bottom by footer height */
	padding: 0px 0px 60px 0px;
}

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
	/* Set the fixed height of the footer here */
	height: 40px;
	overflow: auto;
	overflow-y: hidden;
	margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}

#footer p {
    margin-bottom: 0;
}

#new-item {
    padding-top: 0px !important;
}